<app-exp expHead="HMI Development" expDes=
"I designed HMI screens for multiple projects, now I realize how similar the
process of HMI design is with web development. Experience as HMI designer
ingrained in me some habits and taught me certain skills which makes me a
better designer. I not only understand the importance of but am also skilled
to gather all relevant information before any development starts which saves
a lot of time and money in the long term. Taking backups using source control
and maintaining proper version control comes naturally to me. I was always a
team player but certain processes like peer reviews have raised the value of
team work to me.">
</app-exp>
<app-exp expHead="Portfolio" expDes=
"I used angularjs to create my portfolio.">
</app-exp>
<img src="../myself.JPG" alt="myself"/>
